@import "tailwindcss";

:root {
  --background: #fff7ed;
  --foreground: #171717;
  --gray: #6b7280;
  --lightgray: #a6a09b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gray: var(--gray);
  --color-lightgray: var(--lightgray);
  --font-sans: var(--font-crimson-pro);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff7ed;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

.font-crimson {
  font-family: var(--font-crimson-pro), serif;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}

.h1,
.h2,
.h3,
.h4 {
  font-family: var(--font-crimson-pro), serif;
  margin-bottom: .5rem;
}

.h1 {
  @apply text-4xl md:text-5xl;
}

.h2 {
  @apply text-3xl md:text-4xl;
}

.h3 {
  @apply text-2xl md:text-3xl;
}

.h4 {
  @apply text-xl md:text-2xl;
}

.gridImg__container {}

#wordCloud {
  height: 300px !important;
  /* z-index: -1; */
  position: relative;

  @media(min-width: 768px) {
    height: 500px !important;
  }
}

#wordCloud::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0em 0em 5em var(--background);
}

.section-list .h4 {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  #my-test-gallery {
    a:first-child {
      grid-row: span 2;
    }

    a:nth-child(2) {
      grid-column: span 2;
    }

    a:nth-child(3) {
      grid-column: 1 / span 1;
    }

    a:nth-child(4) {
      grid-row: 2 / span 2;
      grid-column: 2 / span 2;
    }
  }
}

.pswp__img {
  pointer-events: none;
  /* width: max-content !important; */
  height: auto !important;
}

.pswp__zoom {
  display: none;
}